<suite name="JdbcSuite">

    <test name="MovieHolder">
        <classes>
            <class name="com.miskevich.movieholder.dao.jdbc.JdbcMovieDaoTest">
                <methods>
                    <include name="testGetAll" />
                </methods>
            </class>
            <class name="com.miskevich.movieholder.dao.jdbc.JdbcGenreDaoTest">
                <methods>
                    <include name="testGetAll" />
                </methods>
            </class>
            <class name="com.miskevich.movieholder.web.json.JsonConverterTest">
                <methods>
                    <include name="testToJson" />
                </methods>
            </class>
            <class name="com.miskevich.movieholder.dao.jdbc.mapper.GenreRowMapperTest">
                <methods>
                    <include name="testMap" />
                </methods>
            </class>
            <class name="com.miskevich.movieholder.dao.jdbc.mapper.MovieRowMapperTest">
                <methods>
                    <include name="testMap" />
                </methods>
            </class>
        </classes>
    </test>

</suite>