<div>
    <h3><strong>{{ ctrl.movie.nameRussian }}</strong></h3>
    <h3><strong>{{ ctrl.movie.nameNative }}</strong></h3>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail custom-image-size">
                <img ng-src="/img/{{ ctrl.movie.picturePath }}" alt="{{ ctrl.movie.nameRussian }}" class="custom-picture"/>
            </div>
        </div>

        <div class="col-sm-6 col-md-8">
            <h4><strong>Год выпуска: </strong>{{ ctrl.movie.releasedDate }}</h4>
            <h4><strong>Страна: </strong>
                <span ng-repeat="country in ctrl.movie.countries">{{ country.name }}{{$last ? '' : ', '}}</span>
            </h4>
            <h4><strong>Жанр: </strong>
                <span ng-repeat="genre in ctrl.movie.genres">{{ genre.name }}{{$last ? '' : ', '}}</span>
            </h4>
            <h4><strong>Рейтиг: </strong>{{ ctrl.movie.rating }}</h4>
            <h4><strong>Собрал в прокате: </strong>{{ ctrl.movie.price | currency}}</h4>
            <h4><strong>Описание: </strong></h4>
            <h4 class="width-center">{{ ctrl.movie.plot }}</h4>
        </div>
    </div>
    <br>

    <review-list reviews="ctrl.movie.reviews"></review-list>

</div>
<br>