<div>
    <h3><strong>{{ ctrl.movie.nameRussian }}</strong></h3>
    <h3><strong>{{ ctrl.movie.nameNative }}</strong></h3>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail custom-image-size">
                <img ng-src="/img/{{ ctrl.movie.picturePath }}" alt="{{ ctrl.movie.nameRussian }}" class="custom-picture"/>
            </div>
        </div>

        <div class="col-sm-6 col-md-8">
            <h4><strong>Год выпуска: </strong>{{ ctrl.movie.releasedDate }}</h4>
            <h4><strong>Страна: </strong>
                <span ng-repeat="country in ctrl.movie.countries">{{ country.name }}{{$last ? '' : ', '}}</span>
            </h4>
            <h4><strong>Жанр: </strong>
                <span ng-repeat="genre in ctrl.movie.genres">{{ genre.name }}{{$last ? '' : ', '}}</span>
            </h4>
            <h4><strong>Рейтиг: </strong>{{ ctrl.movie.rating }}</h4>
            <h4><strong>Собрал в прокате: </strong>{{ ctrl.movie.price | currency}}</h4>
            <h4><strong>Описание: </strong></h4>
            <h4 class="width-center">{{ ctrl.movie.plot }}</h4>
        </div>
    </div>
    <br>
    <div class="row" ng-controller="ReviewController as reviewCtrl">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <label class="control-label">Логин</label>
                <input type="text" class="form-control" placeholder="Введите логин…" ng-model="review.user.nickname">
            </div>
            <div class="form-group required">
                <label class="control-label">Комментарий</label>
                <textarea class="form-control area-size" ng-required="true" required maxlength="500" rows="4" placeholder="Введите отзыв..." ng-model="review.description"></textarea>
            </div>
            <input type="hidden" ng-model="ctrl.movie.id">
            <button type="submit" class="btn btn-primary pull-right" ng-click="reviewCtrl.submitReview(reviewCtrl.review)">Отправить</button>
        </div>
    </div>

</div>
<br>

<div class="row">
    <div class="col-xs-12 col-md-12" ng-repeat='review in ctrl.movie.reviews'>
        <span class="label label-primary">{{ review.user.nickname }}</span>
        <h4 class="width-center">{{ review.description }}</h4>
        <div class="btn-group pull-right">
            <button type="submit" class="btn btn-warning">Изменить</button>
            <button type="submit" class="btn btn-danger">Удалить</button>
        </div>
    </div>
</div>
<br>