<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>AllMoviesServlet</servlet-name>
        <servlet-class>com.miskevich.movieholder.web.servlets.AllMoviesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllMoviesServlet</servlet-name>
        <url-pattern>/movies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AllGenresServlet</servlet-name>
        <servlet-class>com.miskevich.movieholder.web.servlets.AllGenresServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllGenresServlet</servlet-name>
        <url-pattern>/genres</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MovieServlet</servlet-name>
        <servlet-class>com.miskevich.movieholder.web.servlets.MovieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MovieServlet</servlet-name>
        <url-pattern>/movie</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReviewServlet</servlet-name>
        <servlet-class>com.miskevich.movieholder.web.servlets.ReviewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReviewServlet</servlet-name>
        <url-pattern>/review</url-pattern>
    </servlet-mapping>
</web-app>